<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>seven</name>
        <type>plugin</type>
        <creationDate>2021-12-16</creationDate>
        <lastUpdate>2025-08-13</lastUpdate>
        <author>seven communications GmbH &amp; Co. KG</author>
        <authorUrl>https://www.seven.io/</authorUrl>
        <authorEmail>support@seven.io</authorEmail>
        <supportUrl>https://www.seven.io/</supportUrl>
        <version>2.0.1</version>
        <license>MIT</license>
        <description><![CDATA[Send SMS via seven]]></description>
    </metadata>
    <compatibility>
        <version>5.0</version>
        <version>6.0</version>
    </compatibility>
    <updaters>
        <updater disabled="disabled">
            <stable>1</stable>
            <type>rest</type>
            <source>https://github.com/seven-io/LimeSurvey</source>
            <manualUpdateUrl>https://github.com/seven-io/LimeSurvey</manualUpdateUrl>
        </updater>
    </updaters>
</config>
